
@font-face {
  font-family: "TT Interphases Pro";
  src: url("./assets/fonts/tt_interphases_pro/TT\ Interphases\ Pro\ Trial\ Medium.ttf");
  font-weight: bold;
  font-style: normal;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.word {
  display: inline-block;
  font-size: 3.5rem;
  height: 10px;
  font-family: "TT Interphases Pro", sans-serif;
  /* font-weight: bold; */
}


.para {
  width: 1000px;
  line-height: 1.5;
}
